<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.PaperDao">
	<select id="findAllById" parameterType="int" resultType="com.demo.entity.Paper">
		select id, username, email, mobile from sys_users where id = #{id}
	</select>
</mapper>